body {
  background-color: #00143b;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex; /* Flexbox for overall layout */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  height: 90vh;
}

.split {
  position: absolute; /* Remove absolute positioning */
  top: 50%;
  left: 50%;
  width: 800px; /* Adjust width as needed */
  padding: 40px;
  transform: translate(-50%, -50%); /* Remove unnecessary for flexbox */
  background: rgba(0, 0, 0, 0.4); /* Adjust transparency if needed */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex; /* Make the split container a flexbox */
  flex-direction: row; /* Arrange elements side-by-side */
}

h2 {
  color: #ffffff;
  size: 40px; /* Consider using rem or em units for better responsiveness */
}

.form-group {
  margin-bottom: 20px;
}

label {
  color: #fff;
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

select,
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
}

select:focus,
input[type="text"]:focus {
  border: 1px solid #03a9f4;
}

.submit {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #282936;
  border-radius: 5px;
  margin: 5px;
  transition: all 0.4s ease;
}

.submit:hover {
  background-color: #03a9f4;
}

h4 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Announcement form styling (assuming from a Django form) */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  margin-bottom: 10px;
}

.form-row label {
  margin-bottom: 5px;
  width: 100%;
}

input[type="submit"] {
  align-self: flex-end;
  width: auto;
}

/* New styles for left and right side elements */
.left-side,
.right-side {
  flex: 1; /* Make left and right sides equally sized */
  padding: 20px;
}

.left-side {
  background-color: #1b1b1b; /* Optional background color for left side */
}

.right-side {
  background-color: #282936; /* Optional background color for right side */
}
