body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
  }

  h1{
    text-decoration: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;

  }

  .submit-button{
    color: #fff;
    font-weight: bold;
    background-color: #333;
    box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.1 );
    border: 2px;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;

  }


/*Navigation Bar*/


.navigationbar {
  display: grid;
  grid-template-columns: auto auto 1fr; /* Columns for logo, company name, and nav links */
  align-items: center; /* Align items vertically */
  padding: 10px;
  background-color: #333;
  color: white;
    
  }
  
  .logo-image img {
    height: 50px;
    width: auto;
  }
  
  .college-name h1 {
    margin: 0;
  }
  
  .logo{
    padding-right: 5px;
  }
  .navigationbar a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .navigation-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; /* Align navigation links to the right */
    grid-column: 3;
    margin-right: 20px; /* Set navigation links to span the third column */
  }
  
  
  .navigation-items li {
    display: inline-block;
    margin-left: 10px; /* Adjust spacing between links */
    text-transform: uppercase;
  }
  
  .navigation-items li:first-child {
    margin-left: 0; /* Remove left margin from the first link */
  }
  
  .navigation-items li a {
    text-decoration: none;
    color: white;
    padding-top: 0px;
  }
  
  .navigation-items li a:hover {
    opacity: 0.6;
  }
  


  .dropdown {
    position: relative;
  }
  
.navigation-items .dropdown-content a{
  padding: 10px;
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 100px;
    z-index: 1;
    top: 100%; /* Position the dropdown below the menu item */
    left: 0;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown i {
    display: block;
    margin-top: 10px; /* Adjust margin as needed */
    font-size: 24px; /* Adjust font size as needed */
  }
  
  
  
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* Table Styles */

.table-container{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  overflow-x: auto;
  max-height: 600px;
}

.tablebody {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 600px;
  height: 700px;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  
}

.tablebody td, .tablebody th {
  text-align: center;
  padding: 8px;
}

.tablebody td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
  background-color: #fff;
}

.tablebody thead th {
  color: #ffffff;
  background: #2b8a28;
}


.tablebody thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.tablebody tr:nth-child(even) {
  background: #F8F8F8;
}


  /* Style for fixed column table */
 
  .fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white;
  }


  .fixed-column:nth-child(2) {
    left: 94px; /* Adjust as needed */
  }
  
  .fixed-column:nth-child(3) {
    left: 182px; /* Adjust as needed */
  }

  .fixed-column:nth-child(4) {
    left: 490px; /* Adjust as needed */
  }

  .fixed-headers th {
    position: sticky;
    top: 0; /* Fix the headers at the top */
    background-color: #f2f2f2; /* Optional: Add background color */
    z-index: 2; /* Ensure they stay above other elements */
  }




/* Responsive */

@media (max-width: 767px) {
  .tablebody {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .tablebody thead, .tablebody tbody, .tablebody thead th {
      display: block;
  }
  .tablebody thead th:last-child{
      border-bottom: none;
  }
  .tablebody thead {
      float: left;
  }
  .tablebody tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .tablebody td, .tablebody th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .tablebody thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .tablebody tbody tr {
      display: table-cell;
  }
  .tablebody tbody tr:nth-child(odd) {
      background: none;
  }
  .tablebody tr:nth-child(even) {
      background: transparent;
  }
  .tablebody tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .tablebody tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .tablebody tbody td {
      display: block;
      text-align: center;
  }
}


.table-filters{
  display: grid;
  grid-template-columns: auto auto auto auto;
  
  justify-items: end;
  margin-left: 50px;
  margin-right: 90px;

}


.custom-dropdown, .score {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  color: #333;
  width: 200px;
}

.custom-dropdown option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff; /* Background color of options */
  color: #333; /* Text color of options */
}

.custom-dropdown option:hover {
  background-color: #f2f2f2;
   /* Background color of options on hover */
}


