body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }



/*Navigation Bar*/


.navigationbar {
    display: grid !important; 
    grid-template-columns: auto auto 1fr !important; /* Columns for logo, company name, and nav links */
    align-items: center !important; /* Align items vertically */
    padding: 10px !important;
    background-color: #333 !important;
    color: white!important;
    
  }
  
  .logo-image img {
    height: 50px!important;
    width: auto!important;
  }
  
  .college-name h1 {
    margin: 0!important;
  }
  
  a.logo{
    padding-right: 5px!important;
  }
  a {
    display: inline-block!important;
    padding: 20px!important;
    text-decoration: none!important;
    color: white!important;
  }
  
  a:hover {
    text-decoration: none!important;
  }
  
  .navigation-items {
    list-style-type: none!important;
    margin: 0!important;
    padding: 0!important;
    text-align: right!important; /* Align navigation links to the right */
    grid-column: 3!important;
    margin-right: 40px!important; /* Set navigation links to span the third column */
  }
  
  
  .navigation-items li {
    display: inline-block!important;
    margin-left: 20px!important; /* Adjust spacing between links */
  }
  
  .navigation-items li:first-child {
    margin-left: 0!important; /* Remove left margin from the first link */
  }
  
  .navigation-items li a {
    text-decoration: none!important;
    color: white!important;
  }
  
  .navigation-items li a:hover {
    opacity: 0.6!important;
  }
  
  .dropdown {
    position: relative!important;
  }
  
  .dropdown-content {
    display: none!important;
    position: absolute!important;
    background-color: #333!important;
    min-width: 100px!important;
    z-index: 1!important;
    top: 100%!important; /* Position the dropdown below the menu item */
    left: 0!important;
  }
  
  .dropdown-content a {
    color: white!important;
    padding: 12px 16px!important;
    display: block!important;
    text-align: center!important;
    text-decoration: none!important;
  }
  
  .dropdown-content a:hover {
    background-color: #555!important;
  }
  
  .dropdown:hover .dropdown-content {
    display: block!important;
  }
  
  .dropdown i {
    display: block!important;
    margin-top: 10px!important; /* Adjust margin as needed */
    font-size: 24px!important; /* Adjust font size as needed */
  }
  
  
  
*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* Table Styles */

.table-container{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  overflow-x: auto;
  max-height: 1000px;
}

.tablebody {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 600px;
  height: 700px;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  
}

.tablebody td, .tablebody th {
  text-align: center;
  padding: 8px;
}

.tablebody td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
  background-color: #fff;
}

.tablebody thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.tablebody thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.tablebody tr:nth-child(even) {
  background: #F8F8F8;
}


  /* Style for fixed column table */
 
  .fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: white;
  }

  .fixed-left-column {
    left: 0;
    z-index: 1;
  }

  .fixed-column:nth-child(2) {
    left: 100px; /* Adjust as needed */
  }
  
  .fixed-column:nth-child(3) {
    left: 185px; /* Adjust as needed */
  }

  .fixed-column:nth-child(4) {
    left: 490px; /* Adjust as needed */
  }

  .fixed-headers th {
    position: sticky;
    top: 0; /* Fix the headers at the top */
    background-color: #f2f2f2; /* Optional: Add background color */
    z-index: 2; /* Ensure they stay above other elements */
  }


/* Responsive */

@media (max-width: 767px) {
  .tablebody {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .tablebody thead, .tablebody tbody, .tablebody thead th {
      display: block;
  }
  .tablebody thead th:last-child{
      border-bottom: none;
  }
  .tablebody thead {
      float: left;
  }
  .tablebody tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .tablebody td, .tablebody th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .tablebody thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .tablebody tbody tr {
      display: table-cell;
  }
  .tablebody tbody tr:nth-child(odd) {
      background: none;
  }
  .tablebody tr:nth-child(even) {
      background: transparent;
  }
  .tablebody tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .tablebody tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .tablebody tbody td {
      display: block;
      text-align: center;
  }
}


.table-filters{
  display: grid;
  grid-template-columns: auto auto auto auto;
  
  justify-items: end;
  margin-left: 50px;
  margin-right: 90px;

}


.custom-dropdown, .score {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  color: #333;
  width: 200px;
}

.custom-dropdown option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff; /* Background color of options */
  color: #333; /* Text color of options */
}

.custom-dropdown option:hover {
  background-color: #f2f2f2;
   /* Background color of options on hover */
}


