{% load static%}
<html>

<head>

  <title>Admin</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/admin_panel1.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"><!--For icons-->
  
</head>

<body>
  
<nav class="navbar">
  <h1>Admin Panel</h1>
</nav>

<br>

  <div class="view-container">
  <form class="form-box" action="/overview" method="post">
    <div class="split">
      
      <form action="/overview" method="post">
        {% csrf_token %}
        <div class="form-group">
          <h2>View Rankings</h2>
          
          <label for="year">Choose year</label>
          <select name="year" id="year" class="custom-dropdown">
            <option value="all">All</option>
            <option value="4">first Year</option>
            <option value="3">Second Year</option>
            <option value="2">Third year</option>
            <option value="1">Fourth Year</option>
          </select>
        </div>
        <br />
        <div class="form-group" >
          <label>Choose Branch</label>
          <select name="branch" id="branch" class="custom-dropdown">
            <option value="all">All</option>
            <option value="IT">IT</option>
            <option value="CSE">CSE</option>
            <option value="CSE(AIML)">CSM</option>
            <option value="EEE">EEE</option>
            <option value="MEC">MECH</option>
            <option value="CIV">CIVIL</option>
            <option value="ECE">ECE</option>
            <option value="AIM">AIML</option>
            <option value="AID">AIDS</option>
          </select>
        </div>
        <br />
        <button class="submit button" onclick="window.location.href='/logout'" type="button">
          LogOut
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" class="submit button" />
        
        
        <!-- <button onclick="window.location.href='/overview'"type="button" class="submit">Submit</button> -->
      </form>
      <form action="/update" method="post">
        {%csrf_token%}
        <input type="submit" class="submit button" value="Update" />
      </form>
    </div>
  </form>
</div>


<div class="announcement-container">
  <form action="" method="POST">
    <div class="announcements-header"><h2><i class="fa fa-bullhorn" aria-hidden="true"></i> Announcements</h2></div>
    {% csrf_token %} {{form.as_p}}
    <input class="button" type="submit" value="Submit" />
  </form>
</div>









</body>

</html>