{% load static %}
<html>
    <head>
        <title>Coding details</title>
        <link href="{% static 'css/index.css' %}" rel="stylesheet">
    </head>
    <body bgcolor="#00143b">
        <form>
            <div class="split first">
            </div>
            <div class="split second">
                <h2>Vardhaman College of Engineering</h2>
                <h3>Login to Continue</h3>
                <button onclick="window.location.href='/login'"type="button" class="button" class="btn btn-primary">Login</button>
            </div>
        </form>
    </body>
</html>