{% load static %}
<html>
  <head>
    <title>Coding details</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
  </head>
  <body bgcolor="#00143b">
    <div class="split">
      <!-- Displays a message if user is not logged in -->
      {% if messages %}
      <ul type = "none"class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}

      <form action="/login" method="post">
        {% csrf_token %}
        <h2>Log In</h2>
        <div class="user-box">
          <input type="text" name="username" required="" 
          placeholder="Username" id="username">
          <label>Username</label>
        </div>

        <div class="user-box">
          <input type="password" required=""  placeholder="Password" name="password"
          id="password">
          <label>Password</label>
        </div>
        <br />

        <center><button type="submit" class="button" class="btn btn-primary">
          <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
            </span>
            <span class="button-text">Log In</span>
        </button>
      </center>
        <br>
        <br>
        <center><a href="{% url 'password_reset' %}" ><i>Forgot Password?</i></a></center>
        <!-- <button onclick="window.location.href='/login_view'" type="submit" class="submit">Submit</button> -->
      </form>
    </div>
  </body>
</html>
