{% load static %}
<html>
    <head>
        <title>Coding details</title>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
    </head>
    <body>
        <form>
            <div class="split">
                <form action="/home" method="post" >
                    {% csrf_token %}
                    <div class="form-group">
                        <h1>Vardhaman College of Engineering</h1>
                      <label>USERNAME</label><br>
                      <input class="form-control"  placeholder="Enter Username" id="un">
                    </div>
                    <div class="form-group">
                      <label>PASSWORD</label>
                      <input type="password" class="form-control" placeholder="Password" id="psd">
                    </div><br>
                    <button onclick="window.location.href='/login_view'"type="button" class="button" class="btn btn-primary">Login</button>
                    <!-- <button onclick="window.location.href='/login_view'" type="submit" class="submit">Submit</button> -->
                  </form>
            </div>
        </form>
    </body>
</html>