<thead class="fixed-headers">
<tr>
  <th class="fixed-column" style="z-index: 3;" scope="col">Rank<br />(Global_rank)</th>
  <th class="fixed-column" style="z-index: 3;" scope="col">Roll_Number</th>
  <th class="fixed-column" style="z-index: 3;" scope="col">Name</th>
  <th class="fixed-column" style="z-index: 3;" scope="col">Branch</th>
  <th class="fixed-column" scope="col">Algorithms</th>
  <th scope="col">Codechef_Problems*10</th>
  <th scope="col">Codeforces_Problems*10</th>
  <th scope="col">Spoj_problems_Solved*20</th>
  <th scope="col">GeeksForGeeks_score</th>
  <th scope="col">Leetcode_score*50</th>
  <th scope="col">InterViewBit_Score</th>
  <th scope="col">Overall Score</th>
</tr>
</thead>
{% for student in students %}
<tbody>
  <tb>
<tr>
  <td class="fixed-column">{{forloop.counter}}<br />({{student.rank}})</td>
  <td class="fixed-column" class="roll">{{ student.roll_no.roll_no }}</td>
  <td class="fixed-column">{{ student.name}}</td>
  <td class="fixed-column">{{ student.branch}}</td>
  <td>{{ student.roll_no.hackerrank_score }}</td>

  <td>{{ student.roll_no.codechef_score }}</td>
  <td>{{ student.roll_no.codeforces_score }}</td>
  <td>{{ student.roll_no.spoj_score }}</td>
  <td>{{student.roll_no.gfg_score}}</td>
  <td>{{student.roll_no.leetcode_score }}</td>
  <td>{{student.roll_no.interviewbit_score}}</td>
  <td>{{ student.overall_score }}</td>
</tr>
{% endfor %}
</tb>
</tbody>