{ % load static %}
<html>
    <head>
        <title>Coding details</title>
        <link href="student.css" rel="stylesheet">
    </head>
    <body>
        <form>
            <div class="split">
                <h1>Vardhaman college of Engineering</h1>
                <div class="welcome-container">
                    <h1>Welcome, <span id="student-name">Student Name</span></h1>
                    <p>Roll Number: <span id="roll-number">12345</span></p>
                    <h2>Student Report</h2>
                </div>
                <div class="score-container">
                    <h2>Scores</h2>
                    <ul>
                        <li><strong>CodeChef:</strong> <span id="codechef-score">90</span></li>
                        <li><strong>LeetCode:</strong> <span id="leetcode-score">85</span></li>
                        <li><strong>Codeforces:</strong> <span id="codeforces-score">92</span></li>
                        <li><strong>Spoj:</strong> <span id="spoj-score">88</span></li>
                        <li><strong>InterviewBit:</strong> <span id="interviewbit-score">78</span></li>
                    </ul>
                </div>
                <h2>Monthly Report</h2>
            <div class="chart-container"></div>
            </div>
        </form>
    </body>
</html>