{% load static %}
<html>
  <head>
    <title>Coding details</title>
    <link href="{% static 'css/student_panel.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>
  <body>
    <div class="split">
      <h1>Vardhaman college of Engineering</h1>
      {% for details in det%}
      <div class="welcome-container">
        {% if staff == False%}
        <h1>Welcome, <span id="student-name">{{ details.name}}</span></h1>
        <a href="/logout"><button class="button">Logout</button> </a>
        <a href="https://discord.gg/jXUkmX7Tvf" target="_blank"><button class="button">Discord Group</button> </a>
        <a href="/change_password"><button class="button">Change Password</button> </a>
        <p>
          {% else %}
          <h1>Student name: <span id="student-name">{{ details.name}}</span></h1>
        {% endif %}
          Roll Number: <span id="roll-number">{{details.roll_no.roll_no}}</span>
        </p>
        <h2>Student Report</h2>
      </div>
      <div class="score-container">
        <img src="http://studentscorner.vardhaman.org/images/{{image}}/{{username}}.jpg" height="140" width="122" style="border: solid 5px #AAAAAA">
        <h2>Scores</h2>
        <ul>
          <li>
            <strong>Hackerrank:</strong>
            <span id="Hackerrank-score">{{details.roll_no.hackerrank_score}}</span> 
            <!-- kept roll_id because of accesing it from other table through join in views.py -->
          </li>
          <li>
            <strong>CodeChef:</strong>
            <span id="codechef-score">{{details.roll_no.codechef_score}}</span>
          </li>
          <li>
            <strong>LeetCode:</strong> <span id="leetcode-score">85</span>
          </li>
          <li>
            <strong>Codeforces:</strong>
            <span id="codeforces-score">{{details.roll_no.codeforces_score}}</span>
          </li>
          <li>
            <strong>Spoj:</strong>
            <span id="spoj-score">{{details.roll_no.spoj_score}}</span>
          </li>
          <li>
            <strong>InterviewBit:</strong>
            <span id="interviewbit-score">{{details.roll_no.interviewbit_score}}</span>
          </li>
          <li>
            <strong>GeeksForGeeks:</strong>
            <span id="GeeksForGeeks-score">{{details.roll_no.gfg_score}}</span>
          </li>
        </ul>
      </div>
      {% if staff == False%}
      <a href="/overview" target="_blank"><button class="button">View Batch Report</button> </a>
      <a href="/usernames"><button class="button">Usernames</button> </a>
      {% endif %}
      <h2>Pie Chart</h2>
      {% block content %}
      <div class="chart-container">
        <canvas
          id="pie-chart"
          style="height: 25%"
          width="100"
          height="100"
        ></canvas>
      </div>
    <div class="chart-container">
      <canvas id="pie-chart" style="height: 25%" width="10" height="10"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>


var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
          '#FF0000', '#FFFF00', ' #00FFFF', '#C0C0C0', '#D3D3D3', '#008080', '#006400'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };
        window.onload = function () {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script> 
{% endblock %}
<!-- 
  <h1>Graph</h1>


  <div class="chart-container">
    <canvas id="myChart" style="height: 25%" width="10" height="10"></canvas>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
      myChart = document.getElementById("myChart").getContext("2d");
      new Chart("myChart", {
        type: "scatter",
        data: {
          labels: xValues,
          datasets: [{
            fill: false,
            pointRadius: 1,
            borderColor: "rgba(255,0,0,0.5)",
            data: yValues
          }]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "y = x * 2 + 7",
            fontSize: 16
          }
        }
      });
    </script> -->

  {% endfor %}


  {% comment %} code for announcements display from models {% endcomment %}
  {% if staff == False%}
  <h1>Announcements</h1>
  <ul>
    {% for i in announcements %}
    <li>
      {% if "https://" in i.text_input or "www." in i.text_input %}
      <a href="{{ i.text_input }}">{{ i.text_input }}</a>
      {% else %}
      <p>{{ i.text_input }}</p>
      {% endif %}
      <p><strong>Date Published:</strong> {{ i.date_input }}</p>
    </li>
    {% empty %}
    <li>No announcements available.</li>
    {% endfor %}
  </ul>
  {% endif %}


  <div style="width: 800px; height: 400px;">
    <canvas id="myChart"></canvas>
  </div>

  <!-- <script>
      // Get the data from Django view
      var labels = {{ Glabels| safe }};
      var data = {{ Gdata| safe }};

      var ctx = document.getElementById('myChart').getContext('2d');

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: 'Sample Data',
            data: data,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            x: {
              display: false,
              ticks: {
                display: false // This will hide the x-axis labels
              }
            },
            y: {
            }
          }
        }
      });
    </script> -->

</body>

</html>